<div class="container">
<a href="airline_boards/new" class="btn btn-info"style = "align:left" role="button">Request a Load</a>
<h1>Dash Board</h1>
<%#= link_to "Request for a Quote",  new_broker_quote_path%>
<div class="table-responsive">
  <table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Broker</th>
            <th>From Airpot</th>
            <th>To Airpot</th>
            <th>Nature Of Cargo</th>
            <th>Contact With Broker</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <% @all_quotes.each do |data| %>
      <tr>
        <td><%= data.created_at.strftime("%a %b %Y")%></td>
        <td><%= data.user.broker_profile.company_name%></td>
        <td><%= data.from_airpot%></td>
        <td><%= data.to_airpot%></td>
        <td><%= data.nature_of_cargo%></td>
         <td><button class="btn btn-sm btn-danger">Contact</button></td>
        <td><button class="btn btn-sm btn-danger">Bid for this</button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>  