<div class="container">
<h1>Broker World</h1>

<%= link_to "Request for a Quote",  new_broker_quote_path%>
<h3>Search By Broker</h3>
<%= form_tag('/broker_board', method: :get) do -%>
<%= text_field(:post, :q, size: 20)%>
<%= hidden_field_tag 'search', 'Broker' %>
  <div><%= submit_tag 'Search by Broker' %></div>
<% end -%>

<h3>Search By Origin and Destination</h3>
<%= form_tag('/broker_board', method: :get) do -%>
Origin
<%= text_field(:post, :origin, size: 20)%><br>
Destination
<%= text_field(:post, :destination, size: 20)%>
<%= hidden_field_tag 'search', 'Origin Destination' %>
  <div><%= submit_tag 'Search' %></div>
<% end -%>

<h3>Search By Date</h3>
<%= form_tag('/broker_board', method: :get) do -%>
<%= text_field(:post, :q, size: 20,  class: 'dateSearch')%><br>
<%= hidden_field_tag 'search', 'Date' %>
  <div><%= submit_tag 'Search' %></div>
<% end -%>

<h3>Search By Weight</h3>
<%= form_tag('/broker_board', method: :get) do -%>
<%= text_field(:post, :q, size: 20,  class: 'dateSearch')%><br>
<%= hidden_field_tag 'search', 'Date' %>
  <div><%= submit_tag 'Search' %></div>
<% end -%>


<div class="table-responsive">
  <table class="table">
    <thead>
        <tr>
          <th>Date</th>
          <th>Broker</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Date Requested</th>
          <th>Size</th>
          <th>Weight</th>
          <th>Type Of Cargo</th>
          <th>Special Requirement</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <% @broker_data.each do |data| %>
      <tr>
        <td><%= data.created_at.strftime("%B %d %Y")%></td>

        <td><%= link_to data.name, broker_quote_path(data.id)%></td>
        <td><%= data.from_airpot%></td>
        <td><%= data.to_airpot%></td>
        <td><%= data.date_required.strftime("%B %d %Y") if data.date_required.present?%></td>
        <td>L<%= data.cargo_dimension_length%> W <%= data.cargo_dimension_width%> H <%= data.cargo_dimension_height%> </td>
        <td><%= data.payload%></td>
        <td><%= data.nature_of_cargo%></td>
        <td><%= data.special_requirements%></td>
        <td><button class="btn btn-sm btn-danger">Delete</button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>  

<script type="text/javascript">
  $(".dateSearch").datetimepicker();
</script>