<div class="dashborad">
    <div class="container">
        <div class="holder">
            <div class="row">
                <%= render partial: "shared/sidebar_airline"%>
                <div class="col-md-9 col-sm-8">
                <div class="heading_area text-center dashboard-heading">
                      <h3>Airline Available Load</h3>
                  </div>

                  <div class="alert alert-success" style="display:none">
                      Thanks for your interest .. Email is generated to airline.
                  </div>
                <% if has_bid(current_user, @airline_quote) %>
                    You already bid to this airline
                  <% else %>
                  <div class="col-md-12 clear20">
                    <a class="btn btn-default" id="existing" role="button">Add Existing Load</a>
                    <a class="btn btn-default" id="new" role="button">Create New Load</a>
                  </div>

                  <div class="create_area1 hide">
                  <%= form_tag '/add-bid' do %>
                      <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-5">
                        <%= select_tag "broker_quote_id", options_for_select(@existing_quotes.collect{ |u| ["#{u.from_airpot} - #{u.to_airpot}", u.id]}), {:class =>"form-control"} %>
                         <%= hidden_field_tag "airline_quote_id", @airline_quote.id %>
                        <div class="btn_area">
                          <button class="btn btn-default" style="color: #fff;">BID</button>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>

                  <div class="create_area hide" style="margin-top: 110px">
                  <%= form_for @broker_quote, url: '/add-bid' do |f| %>
                   <%= render partial: "form", :locals => {:f => f, button: 'BID', airline_quote:  @airline_quote} %>
                   <% end %>
                 </div>
                  <% end %>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var bid = $("#bid");
    var user = $("#user");
    var quote = $("#quote");
    var alert = $(".alert");
    var existing = $("#existing");
    var newForm = $("#new");
    var createForm = $('.create_area');
    var createFormE = $('.create_area1');

    existing.click(function(){
      createFormE.removeClass('hide');
      createForm.addClass('hide');
      existing.addClass('active-button');
      newForm.removeClass('active-button');
    });

    newForm.click(function(){
      createForm.removeClass('hide');
      createFormE.addClass('hide');
      existing.removeClass('active-button');
      newForm.addClass('active-button');
    });


    // function addBid(){
    //   $.ajax({
    //      type: "POST",
    //      url: "/add-bid",
    //      data : {user: user.val() , quote: quote.val()},
    //      dataType: "json",
    //      success: function (result) {
    //       bid.hide();
    //       alert.show();
    //      }
    //   });
    // }

    bid.click(function(e){
      e.preventDefault();
      addBid();
    });
  });
</script>