<div class="container">
  <h2>Broker Sign Up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
       <%= f.email_field :email, autofocus: true, class: "form-control", required: true%>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password Confirmation:</label>
      <div class="col-sm-10">          
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

     <%= f.fields_for :broker_profile,  BrokerProfile.new do |broker| %>
     <div class="form-group">
      <label class="control-label col-sm-2" for="email">Company Name:</label>
      <div class="col-sm-10">
        <%= broker.text_field :company_name, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Name:</label>
      <div class="col-sm-10">
        <%= broker.text_field :contact_name, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Area Of Service:</label>
      <div class="col-sm-10">
        <%= broker.text_field :area_of_service, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Address:</label>
      <div class="col-sm-10">
        <%= broker.text_field :contact_address, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Zip:</label>
      <div class="col-sm-10">
        <%= broker.text_field :zip, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Country:</label>
      <div class="col-sm-10">
      <%= country_select("broker_profile", "country", include_blank: true) %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Contact Phone:</label>
      <div class="col-sm-10">
        <%= broker.text_field :contact_phone, class: "form-control", required: true %>
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="email">IATA Code:</label>
      <div class="col-sm-10">
        <%= broker.text_field :iata_code, class: "form-control" %>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="email">Year In Service:</label>
      <div class="col-sm-10">
        <%= broker.text_field :year_in_service, class: "form-control", required: true %>
      </div>
    </div>
      <% end %>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Sign up", class: "btn btn-default"%>
      </div>
    </div>
    <% end %>


</div>

<%= render "devise/shared/links" %>

<script type="text/javascript">

 jQuery.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-z]+$/i.test(value);
  }, "Letters only please"); 

  $.validator.addMethod("lettersNumbersOnly", function(value, element) {
    return this.optional(element) || /^[a-z0-9\-\s]+$/i.test(value);
  }, "Username must contain only letters, numbers, or dashes.");

  $("#new_user").validate({
     rules: {
      "user[broker_profile_attributes][contact_name]": { lettersonly: true},
      "user[broker_profile_attributes][company_name]" : {lettersNumbersOnly: true},
      "user[email]" : {email: true},
      "user[broker_profile_attributes][contact_phone]" : {digits: true},
      "user[broker_profile_attributes][area_of_service]" : {lettersonly: true},
      "user[broker_profile_attributes][contact_address]" : {lettersNumbersOnly :true},
      "user[broker_profile_attributes][zip]" : {digits :true},
      "user[broker_profile_attributes][year_in_service]" : {digits :true}
    }
    });

</script>
