<div class="login_modal">
  <div id="login_form" >
    <div class="modal-content">
      <div class="modal-body">
        <div class="create_area">
          <div class="header text-center">
            <h2>Create your account now</h2>
            <p>it takes less-than-a-minute.</p>
          </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <div class="left-inner-addon">
                        <i class="fa fa-envelope"></i>
                        <%= f.text_field :email, :pattern=> "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$",class: "form-control",:required=> true,:placeholder=> "Email" %>
                      </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <div class="left-inner-addon">
                        <i class="fa fa-asterisk"></i>
                        <%= f.text_field :password, autofocus: true, autocomplete: "off",class: "form-control",:required=> true,:placeholder=> "Password",:type=>"password" %>
                      </div>
                  </div>
                </div>
              <div class="clearfix"></div>
               <%= f.fields_for :broker_profile,  BrokerProfile.new do |ff| %>
              <div class="col-md-6">
                <div class="form-group">
                    <div class="left-inner-addon">
                        <i class="fa fa-user"></i>
                        <%= ff.text_field :company_name, class: "form-control", placeholder: "Company Name" %>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <div class="left-inner-addon">
                        <i class="fa fa-envelope"></i>
                        <%= ff.text_field :zip, class: "form-control", placeholder: "Zip Code" %>
                    </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <div class="form-group select_box">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-bars"></i></div> 
                    <%= country_select("broker_profile", "country", { include_blank: 'Select a country' },class: "form-control" ) %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                <div class="left-inner-addon">
                    <i class="fa fa-asterisk"></i>
                   <%= ff.text_field :contact_name , class: "form-control", placeholder: "Name"%>
                </div>
              </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <div class="form-group">
                <div class="left-inner-addon">
                    <i class="fa fa-asterisk"></i>
                    <%= ff.text_field :contact_address , class: "form-control",placeholder: "Address" %>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                <div class="left-inner-addon">
                    <i class="fa fa-asterisk"></i>
                    <%= ff.text_field :contact_phone,class: "form-control" ,placeholder: "Contact Number"%>
                </div>
              </div>
              </div>
<!--              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Code</div> 
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Phone No"></div>
                </div>
              </div> -->
<!--               <div class="col-md-6">
                <div class="form-group">
                    <div class="left-inner-addon">
                        <i class="fa fa-envelope"></i>
                        <%#= ff.text_field :year_in_service, class: "form-control" ,placeholder: "Year in service" %>
                    </div>
                </div>
              </div> -->
              <div class="clearfix"></div>
              <div class="col-md-6">
                <div class="form-group">
                <div class="left-inner-addon">
                    <i class="fa fa-asterisk"></i>
                    <%= ff.text_field :iata_code, class: "form-control" ,placeholder: "IATA Code"%>
                </div>
              </div>
              </div>
              <div class="text_area">
                <label>How did you hear about Cargo Exchange? </label>
                <%= ff.text_area :broker_info, class: "form-control" ,rows: "6"%>
              </div>
              <div class="text-center btn_area">
                <p><div class="checkbox"> <label> <input type="checkbox" value="1" name="terms" id="terms" checked="checked" /> Accept all term & condition</label> </div></p>
                <%= ff.submit 'REGISTER', class: "btn btn-default" %>
              </div>
            </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>

<script type="text/javascript">

 jQuery.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-z]+$/i.test(value);
  }, "Letters only please"); 
 jQuery.validator.addMethod("term_and_condition", function(value, element) {
    return this.optional(element) || /^[a-z]+$/i.test(value);
  }, "Letters only please"); 
  $.validator.addMethod("lettersNumbersOnly", function(value, element) {
    return this.optional(element) || /^[a-z0-9\-\s]+$/i.test(value);
  }, "Username must contain only letters, numbers, or dashes.");

  $("#new_user").validate({
     rules: {
      "user[broker_profile_attributes][contact_name]": { lettersonly: true},
      "user[broker_profile_attributes][company_name]" : {lettersNumbersOnly: true},
      "user[email]" : {email: true},
      "user[broker_profile_attributes][contact_phone]" : {digits: true},
      "user[broker_profile_attributes][area_of_service]" : {lettersonly: true},
      "user[broker_profile_attributes][contact_address]" : {lettersNumbersOnly :true},
      "user[broker_profile_attributes][zip]" : {digits :true},
      "user[broker_profile_attributes][year_in_service]" : {digits :true}
    }
    });

</script>