<H1>Hi</H1>
A load board is created for 
From: <%=@load.from_airpot%>
<br>
To:  <%=@load.to_airpot%>
<br>
AirLine:  <%=@load.user.email%>
<br>
Nature of Cargo:  <%=@load.nature_of_cargo%>
<br>
Quantiy: <%=@load.quantiy%>


<br>

Please Visit the site to 