<H1>Hi</H1>
A load board is created for 
From: <%=@load.from_airpot%>
<br>
To:  <%=@load.to_airpot%>
<br>
AirLine:  <%=@load.user.email%>
<br>
Quantiy: <%=@load.quantiy%>
<br>
Additional of Info:  <%=@load.additional_information%>


<br>

Please Visit the site. 