<!-- dashborad start -->
<div class="dashborad">
    <div class="container">
        <div class="holder">
            <div class="row">
                <%= render partial: "shared/sidebar"%>
                <div class="col-md-9 col-sm-8">
                <div class="heading_area text-center dashboard-heading">
                      <h3>Bidding Quotes</h3>
                  </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-borderless">
                            <thead>
                                <tr>
                                    <th>Sr no</th>
                                    <th>Airline Name</th>
                                    <th>Date Quoted</th>
                                    <th>Quote Details</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @bids.each_with_index do |bid, index|%>
                                    <tr>
                                        <td><%= index + 1%></td>
                                        <td><%= bid.user.try(:airline).try(:airline_name)%></td>
                                        <td><%= bid.created_at.strftime("%B %d %Y") %></td>
                                        <td><%= bid.airline_quote.try(:from_airpot) %> to  <%= bid.airline_quote.try(:to_airpot) %></td>
                                        <td></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>