<h2>Log in</h2>
<p id="notice"><%= notice %></p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Login  modal</button>
<div class="login_modal">
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <div class="modal-body">
        <div class="login_area row">
          <div class="header text-center ">
          <h3>Broker Login</h3>
        </div>
        <form>
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
            <div class="form-group">
              <label>Already registered with us?</label>
              <div class="left-inner-addon">
                  <i class="fa fa-user"></i>
                  <input type="text" class="form-control" placeholder="Your Email" />
              </div>
            </div>
            <div class="form-group">
              <div class="left-inner-addon">
                  <i class="fa fa-asterisk"></i>
                  <input type="password" class="form-control" placeholder="Your Password" />
              </div>
            </div>
            <div class="text-center btn_area">
              <input class="btn btn-default" type="submit" value="Login">
              <p class="b_bottom">
                <a href="#">Forgot password ?</a>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="create_area">
        <div class="header text-center">
          <h2>Create your account now</h2>
          <p>it takes less-than-a-minute.</p>
        </div>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <div class="left-inner-addon">
                      <i class="fa fa-user"></i>
                      <input type="text" class="form-control" placeholder="Company Name" />
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <div class="left-inner-addon">
                      <i class="fa fa-envelope"></i>
                      <input type="email" class="form-control" placeholder="Company Email" />
                  </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
                  <div class="left-inner-addon">
                      <i class="fa fa-building-o"></i>
                      <input type="text" class="form-control" placeholder="Name" />
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">Code</div> 
                  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Phone No"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
                  <div class="left-inner-addon">
                      <i class="fa fa-envelope"></i>
                      <input type="email" class="form-control" placeholder=" Email" />
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group select_box">
              <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-bars"></i></div> 
                    <select class="form-control">
                        <option>Area of services </option>
                        <option>Area of services</option>
                        <option>Area of services</option>
                        <option>Area of services</option>
                        <option>Area of services</option>
                      </select>
                  </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
              <div class="left-inner-addon">
                  <i class="fa fa-asterisk"></i>
                  <input type="text" class="form-control" placeholder="Contact Number" />
              </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <div class="left-inner-addon">
                  <i class="fa fa-asterisk"></i>
                  <input type="text" class="form-control" placeholder="Zip Code" />
              </div>
            </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
              <div class="left-inner-addon">
                  <i class="fa fa-asterisk"></i>
                  <input type="text" class="form-control" placeholder="Address " />
              </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <div class="left-inner-addon">
                  <i class="fa fa-asterisk"></i>
                  <input type="text" class="form-control" placeholder="IATA Code" />
              </div>
            </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group select_box">
              <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-bars"></i></div> 
                    <select class="form-control">
                        <option>Country </option>
                        <option>Country</option>
                        <option>Country</option>
                        <option>Country</option>
                        <option>Country</option>
                      </select>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <div class="left-inner-addon">
                  <i class="fa fa-asterisk"></i>
                  <input type="text" class="form-control" placeholder="Years in service" />
              </div>
            </div>
            </div>
            <div class="clearfix"></div>
              <div class="text_area">
                <label>How did you hear about Cargo Exchange? </label>
                <textarea class="form-control" rows="6"></textarea>
              </div>
              <div class="text-center btn_area">
                <p><div class="checkbox"> <label> <input type="checkbox" value=""> Accept all term & condition</label> </div></p>
                <input class="btn btn-default" type="submit" value="REGISTER">
              </div>

          </div>
        </form>
        
      </div>


      </div>
    </div>
  </div>
</div>
</div>




































