<div class="container">
<style type="text/css">
  table {
  border-collapse: separate;
  border-spacing: 30px 0;
}

td {
  padding: 8px 0;
}
</style>
<p id="notice"><%= notice %></p>

<h1>Listing Airline Boards</h1>

<table>
  <thead>
   <tr>
            <th>Date</th>
            <th>From Airpot</th>
            <th>To Airpot</th>
            <th>Nature Of Cargo</th>
            <th>Volume</th>
            <th>Width</th>
            <th>Lenght</th>
            <th>Height</th>
            <th>additional Information</th>
            <th>Special Req</th>
            <th>Action</th>
            <th>Action</th>
            <th>Action</th>

        </tr>
  </thead>

  <tbody>
    <% @airline_boards.each do |airline_board| %>
      <tr>
        <td><%=airline_board.created_at.strftime("%Y%m%d")%></td>
        <td><%=airline_board.from_airpot%></td>
        <td><%=airline_board.to_airpot%></td>
        <td><%=airline_board.nature_of_cargo%></td>
        <td><%=airline_board.volume%></td>
        <td><%=airline_board.cargo_dimension_width%></td>
        <td><%=airline_board.cargo_dimension_length%></td>
        <td><%=airline_board.cargo_dimension_height%></td>
        <td><%=airline_board.quantiy%></td>
        <td><%=airline_board.additional_information%></td>
        <td><%=airline_board.special_requirements%></td>
  
        <td><button class="btn btn-sm btn-danger"><%= link_to 'Show', airline_board %></button></td>
        <td><button class="btn btn-sm btn-danger"><%= link_to 'Edit', edit_airline_board_path(airline_board) %></button></td>
        <td><button class="btn btn-sm btn-danger"><%= link_to 'Destroy', airline_board, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Airline board', new_airline_board_path %>
